.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 27px;
    margin-left: 10%;
    width: 80%;
    padding: 2em;
    grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5"
    "item4 item4 item4 item5 item5 item5"
}
.grid>div {
    font-size: 28px;

    text-align: center;
    justify-content: center;

}
  
.item1 {
    grid-area: item1;
    padding: 6em;
    background: #634F2C;
    color: white;
}
.item2 {
    grid-area: item2;
    padding: 6em;
    background: #B4A385;
    color: white;
}
#item2 div{
    width: 380px;
    height: 56px;
}
.item3{
    grid-area: item3;
    width: 250px;
    padding: 6em;
    background: #E4B564;
    color: white;
}
#item3 div{
    width: 186px;
    height: 28px;
}
  
.item4 {
    grid-area: item4;
    background: #635A4A;
    text-align: center;
    padding: 6em;
    color: white;
}
.item5 {
    grid-area: item5;
    background: #B08C4D;
    padding: 6em;
    color: white;
}
.grid2 {
    display: grid;
    color: rgb(19, 8, 1);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin-left: 10%;
    grid-gap: 27px;
    padding: 2em;
    grid-template-areas:
        "item1 item1 item3 item3 item5 item5"
        "item1 item1 item3 item3 item6 item6"
        "item2 item2 item4 item4 item6 item6"
        "item2 item2 item4 item4 item7 item7";
}


.grid2>div{
    font-size: 25px;

    text-align: center;
    justify-content: center;
}
.item_1{
    grid-area: item1;
    padding: 6em;
    background: #0E0E0E;
}
.item_2{
    grid-area: item2;
    padding: 6em;
    background: #1F1F1F;
}
.item_3{
    grid-area: item3;
    padding: 6em;
    background: #242424;

}
.item_4{
    grid-area: item4;
    padding: 6em;
    background: #E4B564;
    margin-bottom: 5%;
}
.item_5{
    grid-area: item5;
    padding: 6em;
    background: #1F1F1F;
    width: 302px;
    height: 25px;
}
.item_6{
    grid-area: item6;
    padding: 6em;
    background: #0E0E0E;
}
.item_7{
    grid-area: item7;
    padding: 6em;
    background: #0A0909;
}

.grid3{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    width: 80%;
    margin-left: 11%;

}




.grid3 > div {
    font-size: 20px;
    padding: 1em;
    text-align: center;
  }
.item-1{
color: aliceblue;
background: #634F2C;
height: 391px;
}
.item-2{
    color: aliceblue;
    background: #635A4A;
    height: 391px;
 
}
.item-3{
    color: aliceblue;
    background: #E8D2ABC2;
    height: 391px;
   
}
.item-4{
    color: aliceblue;
    background: #B08C4D;
    height: 390px;

}
.item-5{
    color: aliceblue;
    background: #E4B564;
    height: 390px;
  
}
.item-6{
    color: aliceblue;
    background: #634F2C;
    height: 390px;

}



  